

.container{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px ;
  border: 2px solid rgb(57, 144, 202);
  margin-top: 5px;
}
.container div{
  width: 350px;
  height: 60px;
  /* border: 2px solid red; */
  margin: 20px;
  display: flex;
  justify-content: center

}
.container div button{
  width: 100%;
  border: none;
  transition: transform .8s, color .6s;
  background-color: rgb(57, 144, 202);
}
.container div button:hover{
  transform: scale(1.1);
  color: #fff;
}

.container-view{
  height: 88vh;
  /* width: 100vw; */
  margin-top: 20px;

}

.container .container-logout {
  width: 100px;
}
.container .container-logout button{

  background-color: red;
  color: #fff;
  border-radius: 10px;
}
