<div class="container-form">
  <form [formGroup]="formphva">
      
    <div class="container-general">
      <h2><strong>PLANIFICACIÓN</strong></h2>
      <h3><strong>Calificacion:</strong> {{phva1 | number:'2.1-2'}}</h3>
      <p (click)="controlPhva1=!controlPhva1" [style]="{'color': 'blue','cursor':'pointer'}"> {{!controlPhva1 ? "ver mas..." : "ver menos" }}</p>
      <div *ngIf="controlPhva1">

        <h3 (click)="verPrueba=!verPrueba"><strong>Prueba:</strong> <p [style]="{'color': 'blue','cursor':'pointer'}">{{!verPrueba ? "ver mas..." : "ver menos" }}</p></h3>
        <div *ngIf="verPrueba">
          <div>
            <h3 class="subtitle"><strong> P.1 </strong></h3>
            <p>Solicite el documento del alcance que debe estar aprobado, socializado al interior de la Entidad, por la alta dirección.
              Determine si  en la definición del alcance se considerará:<br>
              1) Aspectos internos y externos referidos en el 4.1.:<br>
              La Entidad debe determinar los aspectos externos e internos que son necesarios para cumplir su propósito y que afectan su capacidad para lograr los resultados previstos en el SGSI. Nota. La terminación de estos aspectos hace referencia a establecer el contexto interno y externo de la empresa, referencia a la norma ISO 31000:2009 en el apartado 5.3.<br>
              2) Los requisitos referidos en 4.2.:<br>
              a. Se debe determinar las partes interesadas que son pertinentes al SGSI.<br>
              b. Se debe determinar los requisitos de las partes interesadas.<br>
              Nota. Los requisitos pueden incluir los requisitos legales y de reglamentación y las obligaciones contractuales.<br>
              3) Las interfaces y dependencias entre las actividades realizadas y las que realizan otras entidades del gobierno nacional o entidades exteriores<br>
              
            </p>
          </div> 

          <div>
            <h3 class="subtitle"><strong> P.2 </strong></h3>
            <p>Solicite Formatos de procesos y procedimientos debidamente definidos, establecidos y aprobados por el comité que integre los sistemas de gestión institucional, por ejemplo el sistema de calidad SGC.
              Verifique:<br>
              1) Cómo se controla su  distribución, acceso, recuperación y uso.<br>
              2) Cómo se almacena y se asegura su preservación.<br>
              3) Cómo se controlan los cambios.<br>          

            </p>
          </div>

          <div>
            <h3 class="subtitle"><strong> P.3 </strong></h3>
            <p>1) Solicite a la entidad la metodología y criterios de riesgo de seguridad, aprobado por la alta Dirección que incluya:<br> 
              1. Criterios de Aceptación de Riesgos o tolerancia al riesgo que han sido informados por la alta Dirección.<br>
              2. Criterios para realizar evaluaciones de riesgos. <br>
              
              2) Solicite los resultados de las evaluaciones de riesgos y establezca:<br>
              a. Cuantas evaluaciones repetidas de riesgos se han realizado y que sus resultados consistentes, válidos y comparables. <br>
              b. Que se hayan identificado los riesgos asociados con la pérdida de la confidencialidad, de integridad y de disponibilidad de la información dentro del alcance. <br>
              c.  Que se hayan identificado los dueños de los riesgos. <br>
              d. Que se hayan analizado los riesgos es decir: <br>
              - Evaluado las consecuencias (impacto) potenciales si se materializan los riesgos identificados <br>
              - Evaluado la probabilidad realista de que ocurran los riesgos identificados <br>
              - Determinado los niveles de riesgo. <br>
              e. Que se hayan evaluado los riesgos es decir: <br>
              - Comparado los resultados del análisis de riesgos con los criterios definidos<br>
              - Priorizado los riesgos analizados para el tratamiento de riesgos. <br>
              
            </p>
          </div>

          <div>
            <h3 class="subtitle"><strong> P.4 </strong></h3>
            <p>1) Solicite el plan de tratamiento de riesgos y la declaración de aplicabilidad verifique que:<br>
              a. Se seleccionaron opciones apropiadas para tratar los riesgos, teniendo en cuenta los resultados de la evaluación de riesgos. <br>
              b. Se determinaron todos los controles necesarios para implementar las opciones escogidas para el tratamiento de riesgos. <br>
              c. Compare los controles determinados en el plan de tratamiento con los del Anexo A y verifique que no se han omitidos controles, si estos han sido omitidos se debe reflejar en la declaración de aplicabilidad. <br>
              d. Revise la Declaración de Aplicabilidad que tenga los controles necesarios y la justificación de las exclusiones, ya sea que se implementen o no y la justificación para las exclusiones de los controles del Anexo A, y que haya sido revisado y aprobado por la alta Dirección.<br>
              e. Revise que el plan de tratamiento de riesgos haya sido revisado y aprobado por la alta Dirección.<br>
              f. Revise que exista una aceptación de los riesgos residuales por parte de los dueños de los riesgos.<br>

            </p>
          </div>
          <p (click)="verPrueba=!verPrueba" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>

        </div>
        <div class="container-items">
          <h3><strong>ID Item:</strong> P.1 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI </h3>
          <h3><strong>ITEM:</strong> Alcance MSPI (Modelo de Seguridad y Privacidad de la Información) </h3>

          <h3><strong>Descripción:</strong> Se debe determinar los límites y la aplicabilidad del SGSI para establecer su alcance. </h3>
          <h3><strong>MSPI:</strong> Componente planificación. </h3>

          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p1" (ngModelChange)="calculoPhva1()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>

          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob1"></textarea>
          <br>
          <hr />
          <br>

        </div>
        
        <div class="container-items">
          <h3><strong>ID Item:</strong> P.2 </h3>
          <h3><strong>Funcionario a cargo:</strong> Calidad. </h3>
          <h3><strong>ITEM:</strong> Procedimientos de control documental del MSPI. </h3>

          <h3><strong>Descripción:</strong> La información documentada se debe controlar para asegurar que:<br>
              a. Esté disponible y adecuado para su uso, cuando y donde se requiere.<br>
              b. Esté protegida adecuadamente.</h3>
          <h3><strong>MSPI:</strong> Componente planificación. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p2" (ngModelChange)="calculoPhva1()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>

          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob2"></textarea>
          <br>
          <hr />
          <br>

        </div>

        <div class="container-items">
          <h3><strong>ID Item:</strong> P.3 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI </h3>
          <h3><strong>ITEM:</strong> Identificación y valoración de riesgos </h3>

          <h3><strong>Descripción:</strong> Metodología de análisis y valoración de riesgos e informe de análisis de riesgos. </h3>
          <h3><strong>MSPI:</strong> Componente planificación. </h3>
          <h3><strong>Ciberseguridad:</strong> ID.RA-5, ID.RM-1, ID.RM-2, ID.RM-3 </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p3" (ngModelChange)="calculoPhva1()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob3"></textarea>
          <br>
          <hr />
          <br>

        </div>

        <div class="container-items">
          <h3><strong>ID Item:</strong> P.4 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI </h3>
          <h3><strong>ITEM:</strong>  Tratamiento de riesgos de seguridad de la información </h3>

          <h3><strong>Descripción:</strong> Los riesgos deben ser tratados para mitigarlos y llevarlos a niveles tolerables por la Entidad. </h3>
          <h3><strong>MSPI:</strong> Modelo de Seguridad y Privacidad de la Información, componente planificación. </h3>
          <h3><strong>Ciberseguridad:</strong> ID.RA-6, ID.RM-1, ID.RM-2, ID.RM-3 </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p4" (ngModelChange)="calculoPhva1()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob4"></textarea>
          <br>
          <hr />
          <br>

        </div>

        <div class="container-items">
          <h3><strong>ID Item:</strong> P.5 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI </h3>
          <h3><strong>ITEM:</strong>  Toma de conciencia, educación y formación en la seguridad de la información. </h3>

          <h3><strong>Descripción:</strong> Todos los empleados de la Entidad, y en donde sea pertinente, los contratistas, deben recibir la educación y la formación en toma de conciencia apropiada, y actualizaciones regulares sobre las politicas y procedimientos pertinentespara su cargo </h3>
          <h3><strong>MSPI:</strong> Componente planificación </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p5" (ngModelChange)="calculoPhva1()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob5"></textarea>
          <br>
          <hr />
          <br>

        </div>
        
        <p (click)="controlPhva1=!controlPhva1" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>
      </div>

      
    </div>

    <div class="container-general">
      <h3><strong>IMPLEMENTACIÓN</strong></h3>
      <h3><strong>Calificacion:</strong> {{phva2 | number:'2.1-2'}}</h3>
      <p (click)="controlPhva2=!controlPhva2" [style]="{'color': 'blue','cursor':'pointer'}">{{!controlPhva2 ? "ver mas..." : "ver menos" }}</p>
      <div *ngIf="controlPhva2">

        <h3 (click)="verPrueba=!verPrueba"><strong>Pruebas:</strong> <p [style]="{'color': 'blue','cursor':'pointer'}">{{!verPrueba ? "ver mas..." : "ver menos" }}</p></h3>
        <div *ngIf="verPrueba">
          <div>
            <h3 class="subtitle"><strong> I.1 </strong></h3>
            <p>Solicité y evalué el documento con la estrategia de planificación y control operacional, revisado y aprobado por la alta Dirección.<br>
        
            </p>
          </div>

          <div>
            <h3 class="subtitle"><strong> I.2 </strong></h3>
            <p>Verifique los compromisos de avance en el plan de tratamiento de riesgos y el grado de cumplimiento de los mismos y genere un dato con el porcentaje de avance.<br>
            
            </p>
          </div>

          <div>
            <h3 class="subtitle"><strong> I.3 </strong></h3>
            <p>Solicite los Indicadores de gestión del MSPI definidos, revisados y aprobados por la alta Dirección.<br>
            
            </p>
          </div>

        <p (click)="verPrueba=!verPrueba" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>

        </div>

        <div class="container-items">
          <h3><strong>ID Item:</strong> I.1 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI </h3>
          <h3><strong>ITEM:</strong> Planificación y control operacional. </h3>

          <h3><strong>Descripción:</strong> Estrategia que se debe ejecutar con las actividades para lograr la implementación y puesta en marcha del MSPI de  la entidad. </h3>
          <h3><strong>MSPI:</strong> Componente implementación. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p6" (ngModelChange)="calculoPhva2()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob6"></textarea>
          <br>
          <hr />
          <br>

        </div>

        <div class="container-items">
          <h3><strong>ID Item:</strong> I.2 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI </h3>
          <h3><strong>ITEM:</strong> Implementación del plan de tratamiento de riesgos </h3>

          <h3><strong>Descripción:</strong> Porcentaje de avance en la ejecución de los planes de tratamiento. </h3>
          <h3><strong>MSPI:</strong> Componente implementación </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p7" (ngModelChange)="calculoPhva2()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob7"></textarea>
          <br>
          <hr />
          <br>

        </div>

        <div class="container-items">
          <h3><strong>ID Item:</strong> I.3 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI </h3>
          <h3><strong>ITEM:</strong> Indicadores de gestión del MSPI. </h3>

          <h3><strong>Descripción:</strong> Indicadores de gestión del MSPI definidos. </h3>
          <h3><strong>MSPI:</strong> Componente implementación. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p8" (ngModelChange)="calculoPhva2()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob8"></textarea>
          <br>
          <hr />
          <br>

        </div>
      <p (click)="controlPhva2=!controlPhva2" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>
      </div>
    </div>

    <div class="container-general">
      <h3><strong>EVALUACIÓN DE DESEMPEÑO</strong></h3>
      <h3><strong>Calificacion:</strong> {{phva3 | number:'2.1-2'}}</h3>
      <p (click)="controlPhva3=!controlPhva3" [style]="{'color': 'blue','cursor':'pointer'}">{{!controlPhva3 ? "ver mas..." : "ver menos" }}</p>
      <div *ngIf="controlPhva3">

        <h3 (click)="verPrueba=!verPrueba"><strong>Pruebas:</strong> <p [style]="{'color': 'blue','cursor':'pointer'}">{{!verPrueba ? "ver mas..." : "ver menos" }}</p></h3>
        <div *ngIf="verPrueba">
          <div>
            <h3 class="subtitle"><strong> E.1 </strong></h3>
            <p>Solicité y evalué el documento con el plan de seguimiento, evaluación, análisis y resultados del MSPI, revisado y aprobado por la alta Dirección.<br>
              
            </p>
          </div>

          <div>
            <h3 class="subtitle"><strong> E.2 </strong></h3>
            <p>Documento con el plan de auditorías internas y resultados, de acuerdo a lo establecido en el plan de auditorías, revisado y aprobado por la alta Dirección.<br>

            </p>
          </div>

          <div>
            <h3 class="subtitle"><strong> E.3 </strong></h3>
            <p>Resultado del seguimiento, evaluación y análisis del plan de tratamiento de riesgos, revisado y aprobado por la alta Dirección.<br>
              
            </p>
          </div>

        <p (click)="verPrueba=!verPrueba" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>

      </div>

        <div class="container-items">
          <h3><strong>ID Item:</strong> E.1 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable de SI. </h3>
          <h3><strong>ITEM:</strong> Plan de seguimiento, evaluación y análisis del MSPI. </h3>

          <h3><strong>Descripción:</strong> Plan para evaluar el desempeño y eficacia del MSPI a través de instrumentos que permita determinar la efectividad de la implantación del MSPI.</h3>
          <h3><strong>MSPI:</strong> Componente evaluación del desempeño. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p9" (ngModelChange)="calculoPhva3()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob9"></textarea>
          <br>
          <hr />
          <br>

          <h3><strong>ID Item:</strong> E.2 </h3>
          <h3><strong>Funcionario a cargo:</strong> Control Interno. </h3>
          <h3><strong>ITEM:</strong> Auditoría Interna. </h3>

          <h3><strong>Descripción:</strong> Plan de auditoría interna. </h3>
          <h3><strong>MSPI:</strong> Componente evaluación del desempeño. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p10" (ngModelChange)="calculoPhva3()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob10"></textarea>
          <br>
          <hr />
          <br>

          <h3><strong>ID Item:</strong> E.3 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable SI. </h3>
          <h3><strong>ITEM:</strong> Evaluación del plan de tratamiento de riesgos. </h3>

          <h3><strong>Descripción:</strong> Evaluación y seguimiento a los compromisos establecidos para ejecutar el plan de tratamiento de riesgos. </h3>
          <h3><strong>MSPI:</strong> Componente evaluación del desempeño. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p11" (ngModelChange)="calculoPhva3()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob11"></textarea>
          <br>
          <hr />
          <br>
          
        </div>
      <p (click)="controlPhva3=!controlPhva3" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>

      </div>

    </div>

    <div class="container-general">
      <h3><strong>MEJORA CONTINUA</strong></h3>
      <h3><strong>Calificacion:</strong> {{phva4 | number:'2.1-2'}}</h3>
      <p (click)="controlPhva4=!controlPhva4" [style]="{'color': 'blue','cursor':'pointer'}">{{!controlPhva4 ? "ver mas..." : "ver menos" }}</p>
      <div *ngIf="controlPhva4">

        <h3 (click)="verPrueba=!verPrueba"><strong>Pruebas:</strong> <p [style]="{'color': 'blue','cursor':'pointer'}">{{!verPrueba ? "ver mas..." : "ver menos" }}</p></h3>
        <div *ngIf="verPrueba">
          <div>
            <h3 class="subtitle"><strong> M.1 </strong></h3>
            <p>Solicité y evalué el documento con el plan de seguimiento, evaluación y análisis para el MSPI, revisado y aprobado por la alta Dirección.<br>
              
            </p>
          </div>

          <div>
            <h3 class="subtitle"><strong> M.2 </strong></h3>
            <p>Solicité el documento con el consolidado de las auditorías realizadas de acuerdo con el plan de auditorías,  revisado y aprobado por la alta dirección y verifique como se asegura que los hallazgos, brechas, debilidades y oportunidades de mejora se subsanen, para asegurar la mejora continua.
              Tenga en cuenta para la calificación que:<br>
              1) Elaboración de planes de mejora es 60.<br>
              2) Se implementan las acciones correctivas y planes de mejora es 80.<br>

            </p>
          </div>

        <p (click)="verPrueba=!verPrueba" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>

      </div>

        <div class="container-items">

          <h3><strong>ID Item:</strong> M.1 </h3>
          <h3><strong>Funcionario a cargo:</strong> Responsable SI. </h3>
          <h3><strong>ITEM:</strong> Plan de seguimiento, evaluación y análisis del MSPI. </h3>

          <h3><strong>Descripción:</strong> Resultados consolidados del componente evaluación de desempeño. </h3>
          <h3><strong>MSPI:</strong> Componente mejora continua. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p12" (ngModelChange)="calculoPhva4()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob12"></textarea>
          <br>
          <hr />
          <br>

          <h3><strong>ID Item:</strong> M.2 </h3>
          <h3><strong>Funcionario a cargo:</strong> Control Interno.</h3>
          <h3><strong>ITEM:</strong> Auditoría Interna. </h3>

          <h3><strong>Descripción:</strong> Comunicación de los resultados y plan para subsanar los hallazgos y oportunidades de mejora. </h3>
          <h3><strong>MSPI:</strong> Componente mejora continua. </h3>
          
          <h3><strong>Calificación:</strong></h3>
          <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="p13" (ngModelChange)="calculoPhva4()">
              <mat-option value="n/a">n/a</mat-option>
              <mat-option value="0">0</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>

            </mat-select>
          </mat-form-field>
          <h3><strong>Observación:</strong></h3>
          <textarea matInput placeholder="Observación" #msn maxlength="800" name="Msn" cols="50" rows="7" formControlName="ob13"></textarea>
          <br>
          <hr />
          <br>

        </div>
      <p (click)="controlPhva4=!controlPhva4" [style]="{'color': 'blue','cursor':'pointer'}"> Ocultar...</p>

      </div>

    </div>

    <div class="container-button">
      <button mat-raised-button color="primary" (click)="regResult()" [disabled]="formphva.invalid">Enviar Información</button>
    </div>


  </form>

  </div> 
