
<div class="container-table">
  <h3 class="title">Niveles De Madurez modelo de seguridad y privacidad de la informacion</h3>
  <table class="default">
    <tr>
      <th>Niveles</th>
      <th>Descripcion</th>
    </tr>
    <tr>
      <td class="level1">Inicial</td>
      <td class="none">
        En este nivel se encuentran las entidades, que aún no cuentan con una
        identificación de activos y gestión de riesgos, que les permita
        determinar el grado de criticidad de la información, respecto a la
        seguridad y privacidad de la misma, por lo tanto los controles no están
        alineados con la preservación de la confidencialidad, integridad,
        disponibilidad y privacidad de la información.
      </td>
    </tr>

    <tr>
      <td class="level2">Repetible</td>
      <td class="none">
        En este nivel se encuentran las entidades, en las cuales existen
        procesos básicos de gestión de la seguridad y privacidad de la
        información. De igual manera existen controles que permiten detectar
        posibles incidentes de seguridad, pero no se encuentran gestionados
        dentro del componente planificación del MSPI.
      </td>
    </tr>

    <tr>
      <td class="level3">Definido</td>
      <td class="none">
        En este nivel se encuentran las entidades que tiene documentado,
        estandarizado y aprobado por la dirección, el modelo de seguridad y
        privacidad de la información. Todo los controles se encuentran
        debidamente documentados, aprobados, implementados, probados y
        actualizados.
      </td>
    </tr>

    <tr>
      <td class="level4">Administrado</td>
      <td class="none">
        En este nivel se encuentran las entidades, que cuenten con metricas,
        indicadores y realizan auditorias al MSPI, recolectando informacion para
        establecer la efectividad de los controles.
      </td>
    </tr>

    <tr>
      <td class="level5">Optimizado</td>
      <td class="none">
        En este nivel se encuentran las entidades, en donde existe un
        mejoramiento continuo del MSPI, retroalimentando cualitativamente el
        modelo.
      </td>
    </tr>
  </table>
  <div class="scale-evaluation">
    <app-levels-evaluation></app-levels-evaluation>

  </div>

</div>
