.container-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;

}
.container-question{
  max-width: 60%;
}

.container-form{
  max-width: 90%;


}

.formulario{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;

}
