.container-form{
  margin: 3rem;
}

.container-items{
  margin: 0px 3rem ;
}

.container-general{
  border: 2px solid rgb(60, 139, 185);;
  border-radius: 5px ;

  margin-bottom: 3rem;
  padding: 2rem;
}

.container-button{
  text-align: center;
}
