<div class="container-main">
  <form class="formPerfil" [formGroup]="formChange">
    <h3>
      Bienvenido {{nombreUsuario}}
    </h3>
    <mat-form-field class="example-full-width">
      <mat-label>Contraseña Actual</mat-label>
      <input type="password" matInput formControlName="passwordVerify" />

    </mat-form-field>
    <mat-form-field>
      <mat-label>Nueva Contraseña</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onCambiarContrasena()">Cambiar Contraseña</button>
    <br>

  </form>
</div>
